@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body
{
    margin: 0;
    animation-name: overflowHidden;
    animation-duration: 0.7s;
}

.audio-container
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(54, 54, 54);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans';
    animation-name: audioPlayerSlideIn;
    animation-duration: 0.7s;
}

.song-title
{
    white-space: nowrap;
    text-overflow: ellipsis;
}

#brand-player
{
    color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 25%;
}

#songTitle, #songAuthor
{
    margin-left: 1rem;
}

#songSlider
{
    width: 100%;
}

#audio-player-time
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
}

.player
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.controllers
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controllers :nth-child(2)
{
    padding: 0 1rem 0 1rem;
}

.volume
{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.volume input
{
    width: 30% !important;
}

.audio-container img:hover:not(#song-image)
{
    transform: scale(1.05);
    cursor: pointer;
}

#songVolume
{
  margin-right: 1rem;
}

#songVolume {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  
  background-image: -webkit-gradient(linear,
      left top, 
      right top, 
      color-stop(50%, #df7164),
      color-stop(50%, #F5D0CC));
  
  background-image: -moz-linear-gradient(left center,
      #DF7164 0%, #DF7164 50%,
      #F5D0CC 50%, #F5D0CC 100%);
}

#songSlider {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  
  background-image: -webkit-gradient(linear,
      left top, 
      right top, 
      color-stop(0%, #df7164),
      color-stop(0%, #F5D0CC));
  
  background-image: -moz-linear-gradient(left center,
      #DF7164 0%, #DF7164 0%,
      #F5D0CC 0%, #F5D0CC 100%);
}

input[type="range"]::-moz-range-track {
  border: none;
  background: none;
  outline: none;
}

input[type=range]:focus {
  outline: none;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #df7164;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
  background-color: #df7164;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

@keyframes audioPlayerSlideIn
{
  0%{
    transform: translateY(102px);
    opacity: 0;
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes overflowHidden
{
  0%{
    overflow: hidden;
  }

  100%{
    overflow: hidden;
  }
}

@media (max-width: 800px){
  
  .song-title
  {
    display: none;
  }
  #song-image
  {
    width: 64px;
  }
  #currentTime, #duration
  {
    font-size: 80%;
  }
  #songVolume
  {
    width: 60% !important;

  }
}
